# File: config.mk.example
# Author: Phat Nguyen
# Date: 2026-04-29
# Description: Example local build configuration pointing to STM32Cube packages stored inside vendor/.

STM32CUBE_F1_DIR := /mnt/hdd1/project/MCU-Framework/vendor/STM32CubeF1
STM32CUBE_F4_DIR := /mnt/hdd1/project/MCU-Framework/vendor/STM32CubeF4
